/* tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }

  .header {
    height: 591px;
  }

  .header-top {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-content {
    width: 900px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-nav-button {
    display: block;
  }

  .header-nav-list {
    display: none;
  }

  .header-title {
    font-size: 52px;
  }

  .header-scroll {
    font-size: 0;
  }

  /* main */
  .main {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .main-content {
    width: 420px;
  }

  .main-header {
    font-size: 50px;
  }

  .main-content-text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .main-row {
    margin-bottom: 80px;
  }

  .main-img {
    width: 420px;
  }

  /* footer */
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-logo .logo {
    font-size: 30px;
  }

  .footer-widget-services {
    display: none;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-copyright p {
    font-size: 14px;
  }

  .footer-widget-title {
    margin-bottom: 20px;
  }
}

/* mobile */
@media (max-width: 899px) {
  .container {
    /* width: 600px; */
    width: 100%;
  }

  .header-top {
    width: 100%;
  }

  .header-content {
    width: 100%;
  }

  .header-title {
    font-size: 42px;
  }

  .header-content p {
    font-size: 20px;
  }


  /* main */
  .main {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .main-row {
    flex-direction: row-reverse;
    margin-bottom: 60px;
  }

  .main-header {
    font-size: 42px;
  }

  .main-content-text {
    font-size: 16px;
  }

  .button {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    height: 46px;
    line-height: 46px;
  }

  .main-img {
    width: 170px;
    margin-right: 30px;
    flex-shrink: 0;
  }

  .main-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .main-content {
    width: auto;
  }

  /* footer */
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-row {
    flex-wrap: wrap;
  }

  .footer-copyright {
    order: 1;
    width: auto;
  }

  .footer-wigets-wrapper > * {
    width: 100%;
  }
}

/* mobile xs */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }

  .header-top,
  .header-content {
    width: 100%;
  }

  .logo {
    font-size: 30px;
  }

  .header-title {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .header-content p {
    font-size: 18px;
  }

  /* main */
  .main {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main .container {
    width: 100%;
  }

  .main-row {
    margin-bottom: 40px;
    flex-direction: column-reverse;
  }

  .main-row:nth-child(even) {
    flex-direction: column-reverse;
  }

  .main-img {
    width: auto;
    height: 150px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-header {
    font-size: 34px;
  }

  /* footer */
  .footer {
    text-align: center;
  }

  .footer-row {
    flex-direction: column;
  }

  .footer-wigets-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .footer-wigets-wrapper > * {
    width: auto;
  }

  .footer-widget-services {
    display: block;
  }

  .footer-widget {
    margin-bottom: 40px;
  }

  .footer-widget + .footer-widget {
    margin-left: 0;
  }

  .footer-widget-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .footer-widget-list {
    font-size: 16px;
  }
  
  .footer-widget-list li {
    margin-bottom: 10px;
  }
}
